<header class="site-header" role="banner">
    <nav class="site-nav">
      <a class="page-link" href="{% t global.change_language_link %}">{% t global.language %}</a>
      <i class="page-link-divider"></i>
      <a class="page-link" href="{% t global.about_link %}">{% t global.about %}</a>
      <i class="page-link-divider"></i>
      <a class="page-link" target="_blank"href="https://twitter.com/{{ site.twitter_username }}">{% t global.twitter %}</a>
    </nav>
    <a class="site-title" rel="author" href="{% t global.site_link %}">{{ site.title | escape }}</a>
    <div class="divider"></div>
</header>