---
---
@import "minima";
/**
 * override body style
 */
body {
   font-family: "Helvetica Neue",Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
   line-height: 1.7;
 }
/**
 * Code formatting
 */
pre,
code {
  background-color: #fff;
}
/**
  override
*/
blockquote {
  font-style: normal;
}

img+em {
    display: block;
}

/**
 * Syntax highlighting styles
 */

.highlight {
  .highlighter-rouge & {
    background: #fff;
  }
}


/* for categories */

.categories {
  label {
    cursor: pointer;
  }
  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    & ~ ul {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s ;
    }

    &:checked ~ ul {
      height: auto;
      opacity: 1;
    }
  }
}

/* for categories */