---
# Only the main Sass file needs front matter (the dashes are enough) 
--- 
@import "minima";
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.625;
  font-size: 1.125rem;
}

@media (min-width: 760px) {
  body {
    font-size: 1.375rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
  margin-bottom: 2rem;
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Courier New", monospace;
}

code {
  background-color: #f5f2f0;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 75%;
}

pre code {
  font-size: 1rem;
  background: 0 0;
  border: 0;
  padding: 0;
}

blockquote {
  font-style: normal;
}

img {
  display: block;
  margin: 0 auto;
}

img+em {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.highlight {
  .highlighter-rouge & {
    background: #fff;
  }
}

/**
 * Links
 */

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #2a7ae2;
  text-decoration: none;
}

a.post-link {
  color: #4e93ee;
  text-decoration: none;
}

a.post-link:hover {
  color: #2a7ae2;
  text-decoration: none;
}

/* for categories */

.categories {
  label {
    cursor: pointer;
  }
  input[type=checkbox] {
    width: 0px;
    height: 0px;
    visibility: hidden;
    margin-right: -1ex;
    &~ul {
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity .5s;
    }
    &:checked~ul {
      height: auto;
      opacity: 1;
    }
  }
}

/* for categories */