/**
 * Site header
 */
.site-header {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom: none;
  min-height: 220px;

}


@include media-query($on-palm) {
  .site-header {
    min-height: 150px;
  }
}

.site-title {
  display: flex;
  justify-content: center;
  @include relative-font-size(4);
  font-weight: bold;
  margin-top: $base-font-size;
  margin-bottom: $base-font-size * 3;

  &,
  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-blue;
  }
}

@include media-query($on-palm) {
  .site-title {
    @include relative-font-size(3.5);
  }
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: $base-font-size $small-font-size 0 0;
  font-size: $small-font-size;
  line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
  }

  .page-link-divider {
    display: inline-block;
    margin: 0 $base-font-size;
    width: 5px;
    height: 5px;
    background-color: $text-color;
    border-radius: 50%;
  }
}

@include media-query($on-palm) {
  .site-nav {
    justify-content: center;
    font-size: $small-font-size;
    margin: $small-font-size 0 0 0;
    line-height: $base-line-height * $base-font-size;
  }
}


.site-header .divider,
.site-footer .divider {
  border-top: 1px solid $primary-color;
  transform: rotate(-1deg);
}

.site-footer {
  height: $base-font-size * 3;
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}