---
layout: page_with_octocat
---
<div>
  <h1 class="page-heading">分类（点击类别可展开条目）</h1>
  {% for category in site.categories %}
  <ul class="categories">
    <li>
      <input type="checkbox" id="id_{{category[0]}}" />
      <label for="id_{{category[0]}}">{{category[0]}} ({{category[1].size}})</label>
      <ul>
        {% assign ctg = category[0] %}
        {% for posts_of_category in site.categories[ctg] %}
          <li>
            <a href="{{posts_of_category.url}}" target="_blank">
              {{ posts_of_category.title}}
            </a>
          </li>
        {% endfor %}      
      </ul>
    </li>
  </ul>
  {% endfor %}
</div>